<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan base-package="com.sotogito.di"/> <!--어노테이션 Bean 등록-->

  <bean class="com.sotogito.di.dto.Phone" id="phone">
    <property name="name" value="아이폰16pro"/>
    <property name="brand" value="Apple"/>
    <property name="price" value="1500000"/>
    <property name="releaseDate" value="2024-09-01"/>
   </bean>

  <bean class="com.sotogito.di.dto.Phone" id="phone2">
    <property name="name" value="갤럭시s20"/>
    <property name="brand" value="Samsung"/>
    <property name="price" value="1400000"/>
    <property name="releaseDate" value="2024-12-15"/>
  </bean>

</beans>