<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjanggu.sbatis.dao.MenuMapper">

  <resultMap id="menuResultMap" type="MenuDto">
    <id column="menu_code" property="menuCode"/>
    <result column="menu_name" property="menuName"/>
    <result column="menu_price" property="menuPrice"/>
    <result column="category_code" property="categoryCode"/>
    <result column="orderable_status" property="orderableStatus"/>
  </resultMap>

  <!-- 전체메뉴목록(판매가능한)조회 - 최근등록순정렬 -->
  <select id="selectMenuList" resultMap="menuResultMap">
    select
        menu_code
      , menu_name
      , menu_price
      , category_code
      , orderable_status
    from
        tbl_menu
    where
        orderable_status = 'Y'
    order by
        menu_code desc
  </select>

  <!-- 메뉴상세조회 - 메뉴코드 이용 -->
  <select id="selectMenuByCode" resultMap="menuResultMap">
    select
        menu_code
      , menu_name
      , menu_price
      , category_code
      , orderable_status
  from
      tbl_menu
  where
      menu_code = #{code}
  </select>

  <!-- 메뉴등록-->
  <insert id="insertMenu" useGeneratedKeys="true" keyProperty="menuCode">
    insert into
        tbl_menu
        (
          menu_name
        , menu_price
        , category_code
        , orderable_status
        )
    values
        (
          #{menuName}
        , #{menuPrice}
        , #{categoryCode}
        , #{orderableStatus}
        )
  </insert>

  <!-- 메뉴수정 -->
  <update id="updateMenu">
    update
        tbl_menu
    set
        menu_name = #{menuName}
      , menu_price = #{menuPrice}
      , category_code = #{categoryCode}
      , orderable_status = #{orderableStatus}
    where
        menu_code = #{menuCode}
  </update>

  <!-- 메뉴일괄삭제 -->
  <delete id="deleteMenu">
    delete
      from tbl_menu
    where
      <foreach collection="array" item="code"
          open="menu_code in(" separator="," close=")"> <!-- 포이치문 기본틀 + 출력형태지정?정도로 보면될듯 -->
        #{code}
      </foreach>
  </delete>

</mapper>